* {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
span > b {
  padding: 15px 20px;
  background-color: #6495ed;
  color: #ffffff;
  border-radius: 2px;
}

.badge {
  background-color: black;
  color: #ffffff;
  padding: 8px 11px;
  border-radius: 50%;
  font-size: 15px;
  position: relative;
  right: 18px;
  bottom: 20px;
}
